/* Nav Bar */
.navbar {
  background-color: #043a5a;
  margin-bottom: 30px;
}
.navbar-brand {
  color: #ffffff;
}
.button{
  margin: 10px auto;
}

.padtop {
  padding-top: 40px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

th,span{
  color: #043a5a;
}
/* Sign In Sign Up Forms */
/* .login-form {
  padding-top: 150px;
}
.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
}
.btn {
}

.buttons {
  padding: 10px 0 10px 0;
}

.change-btn:hover {
  text-decoration: none;
}


@media only screen and (max-width: 768px) {
  .btn-facebook {
    margin-bottom: 5px;
  }
} */
/* Contact Detail Display */
.list-group-item {
  border: none;
}

.btn {
  color: #ffffff;
  background-color: #043a5a;
}
.btn:focus {
  box-shadow: none !important;
}


.form-control {
  border: none !important;
  border-bottom: 1px solid grey !important;
  border-radius: 0;
  padding: 0;
}
.form-control:focus {
  box-shadow: none;
}
.form-heading {
  color: #043a5a;
}